@media screen and (min-width: 1200px) {
Nav.link {
  justify-content: flex-end;
}
.cont {
  background-color: #21618c;
  
  border-bottom: 1px solid black;
  
}
.item {

  font-size: 16px;
  color: #555555;
  text-align:center;
}
.item:hover {
  color:#C0392B;
  font-size: 17px;
  
}

.customNav {
  background-color: #ffffff;
  padding-right: 0px;
  margin-right: 0px;
  
}
.emptyBrand {
   margin-right: 300px;
}

.itemCover{
  text-align: center; 
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px;
  

}
}
@media screen and (max-width: 1200px) {
  Nav.link {
    justify-content: flex-end;
  }
  .cont {
    background-color: #21618c;
    
    border-bottom: 1px solid black;
    
  }
  .item {
  
    font-size: 16px;
    color: #555555;
    text-align:center;
  }
  .item:hover {
    color:#C0392B;
    font-size: 17px;
    
  }
  
  .customNav {
    background-color: #ffffff;
    padding-right: 0px;
    margin-right: 0px;
    
  }
  .emptyBrand {
     margin-right: 100px;
  }
  
  .itemCover{
    text-align: center; 
    margin-left: 15px;
    margin-right: 15px;
    padding: 4px;
    
  
  }
}

